<pre>
<!DOCTYPE>
<html lang="en">
<head>
  <style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  caption {
      font-size: 25px;
  }
  th, td {
      padding: 5px;
  }
  th {
      text-align: left;
  }
  </style>
</head>
<body>
    {% for i in tableNum %}
	<table class="table table-striped">
	  <caption>{{ caption[i] }}</caption>
	  <tr>
	    {% for item in title[i] %}
	    <th>{{ item }} </th>
	    {% endfor %}
	  </tr>
	  {% for ctx in ctxs[i] %}
	  <tr>
	    {% for item in title[i] %}
	    {% if item in ctx.keys() %}
	    <td> {{ ctx[item] }} </td>
	    {% else %}
	    <td> \ </td>
	    {% endif %}
	    {% endfor %}
	  </tr>
	  {% endfor %}
	</table>
    {% endfor %}
</body>
</html>
</pre>
