<!DOCTYPE>
<html lang="en">
<head>
  <style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  caption {
      font-size: 25px;
  }
  th, td {
      padding: 5px;
  }
  th {
      text-align: left;
  }
  </style>
</head>
<body>
    {% for i in tableNum %}
	<table class="table table-striped">
	  <caption>{{ caption[i] }}</caption>
	  <tr>
	    {% for item in title[i] %}
	    <th>{{ item }} </th>
	    {% endfor %}
	  </tr>
	  {% for ctx in ctxs[i] %}
	  <tr>
	    {% for item in title[i] %}
	    {% if item in ctx.keys() %}
	      {% if item == "test_result" %}
		{% if ctx[item] == "fail" %}
	    	<td><a href={{ ctx.report_path }} style="color: red"> {{ ctx[item] }} </a></td>
		{% else %}
	    	<td><a href={{ ctx.report_path }}> {{ ctx[item] }} </a></td>
		{% endif %}		
	      {% else %}
	    	<td>{{ ctx[item] }}</td>
	      {% endif %}	
	    {% else %}
	    <td> \ </td>
	    {% endif %}
	    {% endfor %}
	  </tr>
	  {% endfor %}
	</table>
    {% endfor %}
</body>
</html>
